h1 {
    color: blue;
}

/* # (cerquilha) seletor por ID */
#calculadora_prev{ /* coloquei desta forma para fins didático */
  padding: 3px;
  color: rgb(23, 62, 233);
  text-shadow: 1px 1px 2px rgb(172, 224, 73);
}

/*  . (ponto) seletor por classe */
.div_center{
  margin: auto;
  width: auto;
  padding: 10px;
  text-align: center;
}

.titulo_no_centro {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
  }

.titulo_no_centro_com_borda {
  margin: auto;
  width: 70%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
  }
/* 
  iframe{
    padding: auto;
  }

  iframe:focus {
    outline: none;
  }
  
  iframe[seamless] {
    display: block;
  }   */
