
h1 {
    color: blue;
}

.div_center{
  margin: auto;
  width: auto;
  padding: 10px;
  text-align: center;
}

.titulo_no_centro {
  margin: auto;
  width: 70%;
  padding: 10px;
  text-align: center;
  }

.titulo_no_centro_com_borda {
  margin: auto;
  width: 70%;
  border: 3px solid #73AD21;
  padding: 10px;
  text-align: center;
  }
